<div
  class="bg-slate-100 min-h-screen w-full antialiased text-slate-300 selection:bg-blue-600 selection:text-white"
>
  <div class="flex flex-col lg:flex-row min-h-screen w-full">
    <side-menu 
      (searchFromHistory)="onSearchFromHistory($event)"
    ></side-menu>

    <main class="flex-1 w-full lg:ml-[280px] transition-all duration-300 bg-slate-900">
      
      <search-component (search)="onSearch($event)"></search-component>
      
      <div class="px-4 sm:px-6 rounded-2xl lg:px-8 py-4 b-5 bg-slate-950 w-full sm:py-6 lg:py-8 min-h-screen text-white">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
